section{
	width:100%;
	height:100%;
}

#getstarted{
	background:rgba(255,255,255,1);
}

.sectioncontainer{
	position:absolute;
	width:80%;
	height:60%;
	margin-top:5%;
	left:10%;
}
.sectiontitle{
	font-size:5vw;
	width:auto;
	font-weight:bold;
	color:orange;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

.introcontainer{
	position:absolute;
	padding-top:10%;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.5);
}

.tutorialblock{
	margin:10px 10px;
	padding:10px 10px;
	width:25vw;
	height:25vw;
	background:black;
}

/* Handle hot stream stuff */
.hotstreamblock{
	margin-left:10px;
	display:inline-block;
	position:relative;
	width:15vw;
	height:15vw;
	border-radius: 10px;
	background:orange;
	padding:5px 5px;
}
.hotstreamhost{
	font-size: 3vw;
	font-weight:bold;
	float:left;
}

.hotstreamnumber{
	position:absolute;
	left:10px;
	bottom:10px;
	font-size:2vw;
}

.hotstreambtn{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
	position:absolute;
	background:rgba(120,30,30,0.5);
	border-radius: 10px;
	width:auto;
	height:auto;
	padding:5px 5px;
	bottom:10px;
	right:10px;
}
.hotstreambtn:hover{
	background:rgba(120,30,30,0.7);
	cursor:pointer;
}



#draw_title{
 margin:auto;
}

.product_list{
     
    color : darkblue;
    border : 2px solid darkblue;
    border-radius : 20%;
    margin-left :5px;
    width:17vw;
    height:17vw;
    padding-top:5vh;

}

#add_product_btn{
    color : darkred;
}


/* Stream View Pop Attribute */

.streamviewpopheader{
	width:100%;
	height:5vw;
	padding:10px 10px;
	color:black;
	font-weight:bold;
}
.streamviewpopbody{
	width:100%;
	height:auto;
	padding:10px 10px;

}