section{
	width:100%;
	height:100%;
}

#getstarted{
	background:rgba(10,10,10,1);
    height:auto;
    position:relative;
}


.sectioncontainer{
	position:absolute;
	width:80%;
	height:60%;
	margin-top:5%;
	left:10%;
}
.sectiontitle{
	font-size:5vw;
	width:auto;
	font-weight:bold;
	color:orange;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

.introcontainer{
	position:absolute;
	padding-top:10%;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.5);
}
.tutorialcontainer{
    position:relative;
    height:auto;
    width:80%;
    padding:10px;
    margin-top:5%;
    margin-left:10%;
}
.tutorialblock{
    position:relative;
    display:block;
	padding:10px 10px;
    background:rgba(0,0,0,0.5);
    border-radius:10px;
	width:100%;
    height:25vw;
    margin-top:15px;
	box-shadow:0 2px 5px 0 rgba(255,255,255,0.60),0 2px 10px 0 rgba(255,255,255,0.45); 
}

.tutorialicon{
    margin:5px;
    width:20vw;
    height:20vw;
    position:relative;
    border:0px;
    padding:5px;
    display:inline-block;
}

.icon{
    height:100%;
    width:100%;
}

.tutorialdescription{
    position:relative;
    padding:10px;
    font-size:2vw;
    font-weight:bold;
    margin:5%;
    color:#47AB23;
    margin-top:10%;
    border:2px solid #47AB23;
    display:inline-block;
	box-shadow:0 2px 5px 0 rgba(255,255,255,0.40),0 2px 10px 0 rgba(255,255,255,0.30); 
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.tutorialdescription:hover{
    cursor:pointer;
    color:white;
    background:#47AB23;
}
.disleft{
    float:left;
}

.disright{
    float:right;
}
/* Handle hot stream stuff */
.hotstreamblock{
	margin-left:10px;
	display:inline-block;
	position:relative;
	width:15vw;
	height:15vw;
	border-radius: 10px;
	background:orange;
	padding:5px 5px;
}
.hotstreamhost{
	font-size: 3vw;
	font-weight:bold;
	float:left;
}

.hotstreamnumber{
	position:absolute;
	left:10px;
	bottom:10px;
	font-size:2vw;
}

.hotstreambtn{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
	position:absolute;
	background:rgba(120,30,30,0.5);
	border-radius: 10px;
	width:auto;
	height:auto;
	padding:5px 5px;
	bottom:10px;
	right:10px;
}
.hotstreambtn:hover{
	background:rgba(120,30,30,0.7);
	cursor:pointer;
}



#draw_title{
 margin:auto;
}

.product_list{
     
    color : darkblue;
    border : 2px solid darkblue;
    border-radius : 20%;
    margin-left :5px;
    width:17vw;
    height:17vw;
    padding-top:5vh;

}

#add_product_btn{
    color : darkred;
}


/* Stream View Pop Attribute */

.streamviewpopheader{
	width:100%;
	height:5vw;
	padding:10px 10px;
	color:black;
	font-weight:bold;
}
.streamviewpopbody{
	width:100%;
	height:auto;
	padding:10px 10px;

}

/* hangout tutorial*/

.hangoutblock{
    padding:10px;
}
.hangoutblock img{
    width:100%;
    height:100%;
}
