p{
    margin:0;
}

#productlist_container{
    width:100%;
    position:fixed;
    top:10%;
}

.productblock{
    width:15vw;
    height:15vw;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    display:inline-block;
    margin:5px;
    padding:5px;
}

.productblock:hover{
    cursor:pointer;
}


