<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.0.0-alpha1.js"></script>
	  	<meta charset="utf-8">
	  	<title>Document</title>
	  	<style type="text/css">

	  	</style>
	</head>
	<body>
		<input type ="text" name = "productname" placeholder=" Product Name" id="productnametext">
		<input type ="text" name = "price" placeholder=" Product Price" id="productpricetext">
		<br>
		<textarea rows="10" cols="20" id = "textarea" placeholder="說說看這個商品"></textarea>
		<button type="submit" onClick="submit()">GO</button>
	</body>
	<script src="js/FBlogin.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/addproduct.js"></script>
</html>