<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LiveStream Sale</title>
    <!-- Bootstrap Core CSS -->
    <link href="hall/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="hall/static/css/grayscale.css" rel="stylesheet">
    <link href="hall/static/css/main.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="hall/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body  data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <span id="nomeantop"></span>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">

                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li>
			<h3 id="username" style="padding:1vw;" title="Click to logout!"> Hi</h3>
                    </li>
                    <li>
                        <a onclick="loginFacebook()" id='FB_Login'>Login</a>
                        <!--a href="../auth/facebook" id='FB_Login'>Login</a-->
                    </li>
                    <li>
                        <a class="page-scroll" href="#getstarted">GetStarted</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#hotstreamer">onLive</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="productlistLink" href="#nomeantop" onClick="gotoProductlist()" style="display:none;">Product List</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="orderlistLink" href="#nomeantop" onClick="gotoOrderlist()" style="display:none;">Orderlist List</a>
                    </li>
                    <li>
                        <h4 id="OpenStream" data-toggle="modal" data-target="#openstream"  style="padding:1.3vw; display:none;">OpenStream</h3>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 
    <!-- Intro Header -->
    <section class="intro">
            <div class="introcontainer">        
                    	<canvas id="draw_title" width=640 height=100></canvas>
                        <p id="secTitle" class="intro-text">Intutive, Worldwide, Awesome.<br> Start Right NOW.</p>
                        <a href="#hotstreamer" class="btn btn-circle page-scroll"> 
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
            </div>
    </section>
    
    <section id="getstarted">
        <div class="tutorialcontainer">
            <div class="sectiontitle">
                <font>Tutorial </font>
            </div>
                <div class="tutorialblock" data-go="addproduct">
                    <div class="tutorialicon disleft">
                        <img class="icon"src="hall/static/img/tutorialicon/addproduct.png"></img>
                    </div>
                    <div class="tutorialdescription disright">新增自己的產品</div>
                </div>
                <div class="tutorialblock" data-go="hangout">
                    <div class="tutorialicon disright">
                        <img class="icon" src="hall/static/img/tutorialicon/stream.png"></img>
                    </div>
                    <div class="tutorialdescription disleft">開啟Hangout直播</div>

                </div>
                <div class="tutorialblock" data-go="openstream">
                    <div class="tutorialicon disleft">
                        <img class="icon" src="hall/static/img/tutorialicon/enterroom.png"></img>
                    </div>
                    <div class="tutorialdescription disright">進入直播交易平台</div>
                </div>
                <div class="tutorialblock" data-go="enjoy">
                    <div class="tutorialicon disright">
                        <img class="icon" src="hall/static/img/tutorialicon/havefun.png"></img>
                    </div>
                    <div class="tutorialdescription disleft">享受直播互動樂趣！</div>
                </div>
        </div>
    </section>

    <section id="hotstreamer" class="">
            <div class="sectioncontainer">
                <div class="sectiontitle">
                    Hot Streamer
                </div>
                <div class="hotstreamcontainer">
                </div>
            </div>
    </section>

    <!-- Contact Section -->
    <div id="contact">
    </div>

<!-- StreamPop Modal -->
<div id="streamviewpop" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="streamviewpopheader">
        <div class="streamviewpoptitle">
            
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="streamviewpopbody">
      </div>
      <div class="modal-footer">
        <button type="button"class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="gostreambtn"  class="btn btn-default" data-dismiss="modal" onclick="">進入直播</button>
      </div>
    </div>

  </div>
</div>

	<!-- Modal -->
	<div id="openstream" class="modal fade" role="dialog" style="color:black;">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title" id="sale_username">Hi, {{accountname}}</h4>
          </div>

	      <div class="modal-body" style="display:inline-block">
            <h6>
                <a target="_blank" href="http://www.youtube.com/my_live_events">開啟hangout直播</a>
            </h6>

            <div id="my_product_for_sale">
            <!--
            {% for e in user_product %}
            <input type="checkbox" name="product[]" data-product="{{e.name}}" value="{{e.id}}"> {{e.name}}       ${{e.price}}<br></input>
            {% endfor %}
            -->	
            </div>
            <div>      
            <input type="text" id="youtubeurl" data-name="{{accountname}}" data-uid="{{uid}}" style="margin-top:5px;"placeholder=" Youtube URL">
            </div>
            </div>
	      <div class="modal-footer">
        <button class="btn btn-default" onclick="openhost()"> Create </button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	

	<!-- Modal -->
	<div id="hangouttutor" class="modal fade" role="dialog" style="color:black;">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <div class="modal-body" style="display:inline-block">
                <div class="hangoutblock">
                    <img src="hall/static/img/hangout_tutorial/youtube_stream1.png">
                
                    <div class="hangoutdescript">1. 先到<a href="http://www.youtube.com/my_live_events" target="_blank">
                                                            http://www.youtube.com/my_live_events
                                                        </a>中點選 新增現場直播</div>
                </div>
                <div class="hangoutblock">
                    <img src="hall/static/img/hangout_tutorial/youtube_stream2.png">
                    <div class="hangoutdescript">
                        2. 輸入完標題後，立即直播
                    </div>
                </div>
                <div class="hangoutblock">
                    <img src="hall/static/img/hangout_tutorial/youtube_stream3.png">
                    <div class="hangoutdescript">
                        3. 點選Hangout 右下角的連結
                    </div>
                </div>
                <div class="hangoutblock">
                    <img src="hall/static/img/hangout_tutorial/youtube_stream4.png">
                    <div class="hangoutdescript">
                        4. 將連結複製起來
                    </div>
                </div>
                <div class="hangoutblock">
                    <img src="hall/static/img/hangout_tutorial/youtube_stream5.png">
                    <div class="hangoutdescript">
                        5. 在我們的網站上建立直播交易平台  <div class="tutorialdescription" onclick="openstream()"> GO </div>
                    </div>
                </div>

          </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>	










    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>
    <script src="hall/static/js/FBlogin.js"></script>
    <!-- jQuery -->
    <script src="hall/static/js/jquery.js"></script>
    <script src="hall/static/main.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="hall/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="hall/static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="hall/static/js/grayscale.js"></script>
    <script>
        if('{{uid}}' != -1) {
            productlist    = {{{productlist}}};
            onlive_Channel = {{{onlive_channel}}};
            uid            = '{{uid}}';
            accountname    = '{{accountname}}';
            $("#username").html("Hi," + '{{accountname}}');
            $("#sale_username").html("Hi," + '{{accountname}}');
            $("#FB_Login").hide();
            $("#OpenStream").show();
            $("#productlistLink").show();
            $("#orderlistLink").show();

            my_productlist(productlist);

        }
    </script>

</body>

</html>
