<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>查看訂單</title>
    <link href="hall/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="hall/static/css/orderlist.css" rel="stylesheet">
    <link href="hall/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="headcover"><font>訂單一覽</font></div>
    <div class="backarrow"><i class="fa fa-arrow-left"></i></div>
	<div class="ordercontainer">
    {{#orderlist}}
		<div class="productblock" data-pk="{{pk}}" data-owner="{{#fields}}{{owner}}{{/fields}}">
			<div class="productname">{{#fields}}{{productname}}{{/fields}}</div>
			<div class="buyername">{{#fields}}{{buyername}}{{/fields}}</div>
			<div class="buyerprice">$ {{#fields}}{{price}}{{/fields}}</div>
			<div class="owner"><a href="https://www.facebook.com/{{#fields}}{{buyer}}{{/fields}}">聯絡買家</a></div>
		</div>
	{{/orderlist}}
    </div>
</body>
<script src="hall/static/js/jquery.js"></script>
<script src="hall/static/js/bootstrap.min.js"></script>
<script src="hall/static/js/orderlist.js"></script>
</html>
