<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>下訂單囉</title>
</head>
<body>
	{{#orderlist}}
		<div class="productblock" data-pk="{{pk}}" data-owner="{{#fields}}{{owner}}{{/fields}}">
			<div class="productname">商品: {{#fields}}{{productname}}{{/fields}}</div>
			<div class="buyername">買家: {{#fields}}{{buyername}}{{/fields}}</div>
			<div class="buyerprice">價格: {{#fields}}{{price}}{{/fields}}</div>
			<div class="owner"><a href="https://www.facebook.com/{{#fields}}{{owner}}{{/fields}}">聯絡賣家</a></div>
		</div>
	{{/orderlist}}
</body>
<script src="hall/static/js/jquery.js"></script>
<script src="hall/static/js/bootstrap.min.js"></script>
</html>