<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品集</title>
</head>
<body>
	<div id='who'></div>
	<div id="productlist_container"></div>
	<div id="pre" class="button product_element">Pre</div>
	<div id="next" class="button product_element">Next</div>
</body>
<script>
	productlist={{{productlist}}};
	onlive_channel={{{onlive_channel}}};
	console.log(productlist);
	console.log(onlive_channel);
</script>
<script src="hall/static/js/jquery.js"></script>
<script src="hall/static/js/FBlogin.js"></script>
<script src="hall/static/js/productlist.js"></script>
</html>