div{
    display:block;
    margin-top:5px;
}


.container-header{
    padding:5px 5px;
    float:right;
}
.container-header i{
    cursor:pointer;
}


#msg-container{
    background:rgba(248,143,88,0.5);
}

#price-container{
    background:rgba(110,248,32,0.5);
}

#msg-box-wrapper{
   width:20vw;
   height:35vh;
}

#price-box-wrapper{
    width:20vw;
    height:35vh;
}
#stream-frame{
    position : absolute;
    left : 5vw;
    top :10vh;
    width:60vw;
    height:60vh;
}

#seller_info{
    background:rgba(133,200,200,0.5);
    position:absolute;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    top:80vh;
    left:5vw;
    padding:10px 10px;
}

.sell_class{
    padding:5px 5px ;
    display:inline-block;
}


#chat-container{
    position : absolute;
    left : 70vw;
    top :10vh;
}

.info{
    font-size:18px;
    color:black;
    font-weight:bold;
}

.contentcontainer{
    margin-top:5px;
    padding:5px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

.inputholder{
    border:0px;
    border-bottom:1px solid black;
    padding:5px 5px;
    background:transparent;
    color:black;
    font-weight:bold;
}

.sendbtn{
    border:0px;
    background:transparent;
    border-bottom:1px solid black;
    padding:5px 5px;
}
.sendbtn:hover{
    font-weight:bold;
    cursor:pointer;
}

.tag{
    font-size:8px;
    color:gray; 
}

::-webkit-input-placeholder{
    color:black;
}
