div{
    display:block;
    margin-top:5px;
}


.container-header{
    padding:5px 5px;
    float:right;
}
.container-header i{
    cursor:pointer;
}


#msg-container{
    background:rgba(248,143,88,0.5);
}

#price-container{
    background:rgba(110,248,32,0.5);
}

.wrapper{
    overflow-y: auto;
}

#msg-box-wrapper{
   width:20vw;
   height:35vh;
}

#price-box-wrapper{
    width:20vw;
    height:35vh;
}
#stream-frame{
    position : absolute;
    left : 5vw;
    top :10vh;
    width:60vw;
    height:60vh;
}

#seller_info{
    background:rgba(133,200,200,0.5);
    position:absolute;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    top:80vh;
    left:5vw;
    padding:10px 10px;
}

.sell_class{
    padding:5px 5px ;
    display:inline-block;
}


#chat-container{
    position : absolute;
    left : 70vw;
    top :10vh;
}

.info{
    font-size:18px;
    color:black;
    font-weight:bold;
}

.contentcontainer{
    margin-top:5px;
    padding:5px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

.inputholder{
    border:0px;
    border-bottom:1px solid black;
    padding:5px 5px;
    background:transparent;
    color:black;
    font-weight:bold;
}

.sendbtn{
    border:0px;
    background:transparent;
    border-bottom:1px solid black;
    padding:5px 5px;
}
.sendbtn:hover{
    font-weight:bold;
    cursor:pointer;
}

.tag{
    font-size:8px;
    color:gray; 
}

::-webkit-input-placeholder{
    color:black;
}
.productlist:hover{
    cursor:pointer;
}  

.productlistbtn{
    position:fixed;
    top:10%;
    right:5px;
    width:48px;
    height:48px;
    z-index:100;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    font-size:40px;
    text-align:center;
    padding:5px 5px;
    background:rgba(0,0,0,0.5);
    color:white;
}

.productlistblock{
    z-index:200;
    position:fixed;
    right:-300px;
    top:0px;
    height:100%;
    width:250px;
    background:rgba(0,0,0,0.5);

}

.productitem{
    margin-left:10px;
    margin-top:10px;
    width:90%;
    height:10%;
    background:rgba(255,255,192,0.5);
    box-shadow:0 2px 5px 0 rgba(255,255,255,0.16),0 2px 10px 0 rgba(255,255,255,0.12); 
    padding:10px 10px;
}
.iteminfo{
    vertical-align:top;
    display:inline-block;
}
.productprofile{
    display:inline-block;
    height:100%;
    width:40%;
    background:rgba(0,0,0,1);  
}
.producttitle{
    font-weight:bold;
    font-size:18px; 
}
.productprice{
    font-weight:300;
    font-size:16px;
}
.productdescription{
    font-size:12px;
    font-weight:200;    
}


