<!DOCTYPE html>
<html>

<head>
         <link rel="stylesheet" href="css/chatroom.css" />
         <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body id="body">

    <iframe id="stream-frame" src="http://www.youtube.com/embed/">
    </iframe>


    <div class="productlist">
        <div class="productlistbtn">
            <i class="fa fa-info"></i>  
        </div>
        <div class="productlistblock">
        </div>
    </div>

    <section id="chat-container">
             <div id="msg-container" class="contentcontainer">
             <div class="container-header">
                <i class="fa fa-times"></i>
            </div> 
    <div id="msg-box-wrapper">
                    <div id="msg-box"> 
                    </div>
                </div>
                 <div id="msg-input-wrapper">
                <input id="msg-input" class="inputholder" type="text" placeholder="你想說什麼？">
                <button id="msg-send-btn" class="sendbtn">Send</button>
            </div>
            </div>
             <div id="price-container" class="contentcontainer">
                <div class="container-header">
                    <i class="fa fa-times"></i>
                </div> 
              <div id="price-box-wrapper">
                    <div id="price-box"> 
                    </div>
                </div>
                 <div id="price-input-wrapper">
                <input id="price-input" type="text" class="inputholder" placeholder="希望價格">
                <button id="price-send-btn" class="sendbtn" >Go</button>
            </div>
            </div>
    </section>

    <section id="seller_info">
        <div class="sell_class">
            <div class="tag">賣家名字</div>
            <div id="sellername" class="info">Frank</div>
        </div>
        <div class="sell_class" >
            <div class="tag">商品名字</div>
            <div id="productname" class="info">Stussy</div>
        </div>
        <div class="sell_class" >
            <div class="tag">商品價格</div>
            <div id="productprice" class="info">2189</div>
        </div>
     </div>
       <div class="buycurrentblock">
            <div class="buycurrentbtn">
                購買當前產品
            </div> 
        </div>


    </section>
    </body>
<script>
/*
  var me = new Object();
  var current_url = window.location.href;
  var element = current_url.split("?");
  element = element[1];
  element = element.split("&");
  
  if(element.length > 0)
    me.host_fb_id = element[0].split("sellerid=")[1];
  
  if(element.length > 1)
    me.stream_url = element[1].split("url=")[1];
  
  if(element.length > 2)
    me.fb_name = element[2].split("user_id=")[1];
  
  if(element.length > 3) 
    me.fb_id = element[3].split("user_id=")[1];
  
  $('#msg-input').keypress(function(e){
          if(e.keyCode==13)
          $('#send').click();
  });

*/
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="channel_event.js"></script>
<script src="js/chatroom.js"></script>
<script src="js/chatroom_event.js"></script>
<script src="js/chatroom_front.js"></script>
</html>
