<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
        <link rel="stylesheet" href="room/static/css/hostroom.css" />
	    <link rel="stylesheet" href="room/static/font-awesome/css/font-awesome.min.css"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <section id="chat-container">
            <div id="msg-container" class="contentcontainer">
                <div class="container-header">
                    <i class="fa fa-times"></i>
                </div>
                <div id="msg-box-wrapper" class="wrapper">
                    <div id="msg-box"> 
                    </div>
                </div>
             </div>
             <div id="price-container" class="contentcontainer">
                 <div class="container-header">
                    <i class="fa fa-times"></i>
                </div>
<div id="price-box-wrapper" class="wrapper">
                   <div id="price-box"> 
                    </div>
                </div>
             </div>
             </div>
   </section>

    <div id="currentproduct">
        <div class="currentinfo">
            <div class="tag">直播商品</div>
            <div  id="currentname"></div>
        </div>
        <div class="currentinfo">
            <div class="tag">現在價格</div>
            <div id="currentprice"></div>
        </div> 
        <div class="currentinfo" id="price-input-wrapper">
                    <input id="price-input" type="number" class="inputholder" placeholder="希望價格">
                    <button id="changepricebtn">Go</button>
        </div>
  </div>

    <div class="productlist">
        <div class="productlistbtn">
            <i class="fa fa-info"></i>  
        </div>
        <div class="productlistblock">
        </div>
    </div>
</body>
<script src="room/static/js/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="room/static/js/channel_event.js"></script>
<script type="text/javascript">
	var host_fb_id;
	var stream_url;
    var me = new Object();
	$(document).ready(function() {
		// body...
		me.host_fb_id = window.location.href.split('hostfbid=')[1];
		create_channel();
	});
</script>
<script src="room/static/js/hostroom_front.js"></script>
<script src="room/static/js/hostroom.js"></script>
<script src="room/static/js/hostroom_event.js"></script>
</html>
