<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
        <link rel="stylesheet" href="room/static/css/hostroom.css" />
	    <link rel="stylesheet" href="room/static/font-awesome/css/font-awesome.min.css"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div class="showvideo"><i class="fa fa-arrow-right"></i></div> 

    <div id="videoblock">
        <div class="hidebtn">
            <i class="fa fa-times"></i>
        </div>
        <video autoplay="true" id="webcam">

        </video>
    </div>

    <section id="chat-container">
            <div id="msg-container" class="contentcontainer">
                <div class="container-header">
                    Chat Box
                </div>
                <div id="msg-box-wrapper" class="wrapper">
                    <div id="msg-box"> 
                    </div>
                </div>
                 <div id="msg-input-wrapper">
                <input id="msg-input" class="inputholder" type="text" placeholder="你想說什麼？">
                <button id="msg-send-btn" class="sendbtn">Send</button>
                 </div>

             </div>
             <div id="price-container" class="contentcontainer">
                 <div class="container-header">
                    Price Box
                </div>
<div id="price-box-wrapper" class="wrapper">
                   <div id="price-box"> 
                    </div>
                </div>
             </div>
             </div>
   </section>


    <div class="nav">
        <div class="entercustomer"><font class="name">12312412094u1094u1</font>進來囉</div>    
        <div class="hostroominfo">
                <i class="fa fa-users">
                    <font id="currentview">0</font>
                </i>
                <i class="fa fa-shopping-cart">
                    <font id="currentordernum">0</font>
                </i>
        </div>

        <div id="currentproduct">
            <div class="currentinfo">
                <div class="tag">直播商品</div>
                <div  id="currentname">
                    哈哈
                </div>
            </div>
            <div class="currentinfo">
                <div class="tag">現在價格</div>
                <div id="currentprice">
                    1234
                </div>
            </div> 
            <div class="currentinfo" id="price-input-wrapper">
                        <input id="price-input" type="number" class="inputholder" placeholder="希望價格">
                        <button id="changepricebtn">Go</button>
            </div>
      </div>
    </div>

    <div class="productlist">
        <div class="productlistbtn">
            <i class="fa fa-info"></i>  
        </div>
        <div class="productlistblock">
        </div>
    </div>
</body>
<script src="room/static/js/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="room/static/js/channel_event.js"></script>
<script type="text/javascript">
	var host_fb_id={{host_fb_id}};
	var stream_url;
    var me = new Object();
    console.log(host_fb_id);
	$(document).ready(function() {
		me.host_fb_id = host_fb_id.toString();
        console.log(me.host_fb_id);
        create_channel();
	});
</script>
<script src="room/static/js/hostroom.js"></script>
<script src="room/static/js/hostroom_front.js"></script>
<script src="room/static/js/hostroom_event.js"></script>
<script src="room/static/js/hostroom_webcam.js"></script>
</html>
