<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
        <link rel="stylesheet" href="css/chatroom.css" />
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <section id="chat-container">
       
            <div id="msg-container">
                <div id="msg-box-wrapper">
                    <div id="msg-box"> 
                    </div>
                </div>
             <div id="price-container">
                <div id="price-box-wrapper">
                    <div id="price-box"> 
                    </div>
                </div>
   </section>

    <section id="sellerproducts">
       <div id="productname" class="productname"></div>
       <div id="productlist" class="product_list"></div>
     </div>
     <div id="price-input-wrapper">
                <input id="price-input" type="text" class="inputholder" placeholder="希望價格">
                <button id="send">Go</button>
    </div>
  </section>





</body>
<script type="text/javascript">
    var me = new Object();
        me.host_fb_id = prompt("host_fb_id?");
        me.stream_url = Math.floor((Math.random() * 100) + 50);
        me.fb_name = Math.floor((Math.random() * 100) + 50);
        me.fb_id = me.host_fb_id;
        console.log(me);
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="channel_event.js"></script>
<script type="text/javascript">
                    //TEST START
		create_store();
</script>
<script src="js/hostroom.js"></script>
<script src="js/hostroom.js"></script>
</html>
